body {
    width: 400px;
    height: 200px;
    background: rgba(0, 0, 0, 0.8) url('../imagens/background.jpg');
    height: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode: darken;
    
    
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-weight: normal;
    text-align: center;
}

.mapa-container {
   justify-content: center;
   align-items: center;
   margin-left: 100%;
}
.mapa {
   width: 80%; /* Ajuste a largura conforme necessário */
   height: 80%; /* Ajuste a altura conforme necessário */
}
